{% extends '@Caradvisor/index.html.twig' %}
{% block body %}
    <h1>Welcome</h1>
    <h1>Welcome</h1>
    <h1>Welcome</h1>
    {% for review in data  %}
        {{ review.city }}
    {% endfor %}
    {% for review in beta %}
        {{ review.city }}
    {% endfor %}

{% endblock %}



