{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
    <section class="pro">
        <div class="container">
            <div class="row" id="account-pro-reviews">
                <div class="col-xs-12">
                    <h2 class="text-center">Paramètres</h2>
                    <hr class="pro-review-underline">
                    <div class="color">
                        <!-- Back to main page -->
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1">
                                <a href="{{ path('user') }}">
                                    <p><i class="fa fa-angle-double-left" aria-hidden="true"> </i>
                                        Revenir à Mon Compte</p><br>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-3">
                                <a href="{{ path('user_password') }}">
                                    <div class="panel myaccountUserAccessProfile">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <i class="fa fa-key fa-5x" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-xs-12">
                                                    <p class="announcement-heading"></p>
                                                    <p class="announcement-text">Changer mot de passe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-0">
                                <a href="" data-toggle="modal" data-target="#delete-account">
                                    <div class="panel myaccountUserAccessCompanyPage">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <i class="fa fa-trash-o fa-5x" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-xs-12">
                                                    <p class="announcement-heading"></p>
                                                    <p>Supprimer compte</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="modal fade" id="delete-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" align="center">
                                            <div class="modal-header" align="center">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                                <p class="modalTitle">Car<span>Advisor</span></p>
                                            </div>
                                            <div>
                                                <form>
                                                    <div class="modal-body">
                                                        <h4 class="text-center">Êtes-vous sûr de vouloir de supprimer votre profil ?</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <a href="{{ path('deactivate-account', {'id': user.id }) }}" class="btn btn-conn btn-primary btn-lg btn-block">Supprimer</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}