/* Contact Us Form */

#contactPage {
    margin: 10% auto;
}
#contactPage .contactWelcomePhrase {
    text-align: center;
    margin-bottom: 40px;
}
#contactPage .formContact {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
#contactPage .sendMessageButton {
    font-size: 14px;
    width: 10em;
    height: 3em;
    border-radius: 4px;
    border: 3px solid #ff4756 !important;
    background-color: #fff; !important;
    color: #ff4756; !important;
}
#contactPage .sendMessageButton:hover{
    color: #fff;
    background-color: #ff4756;
}
#contactPage .sendMessageButton:focus, .sendMessageButton:active {
    outline: none !important;
    border: 3px solid #ff4756 !important;
}
#contactPage .formContactDivAddress {
    text-align: center;
}
#contactPage hr {
    margin: 5% 35%;
    border-top: 1px solid #ff4756;
}
#contactPage .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#contactPage #contactForm {
    resize: none;
}