/**********************************\
===================================
1. Form: Sign Up
2. Form: Review Sale
2. Form: Review After-Sale
===================================
\**********************************/

/**********************************\
1. Sign Up
\**********************************/

.formSignUp {
    margin: 150px auto 10px auto;
}
legend {
    text-align: center;
    padding: 10px;
}
/**********************************\
2. Form: Review Sale
\**********************************/
.formReviewSale {
    margin: 60px auto 10px auto;
}
.formReviewSale h4 {
    text-align: center;
    margin: 50px;
}
.formReviewSale h1 {
    text-align: center;
}
.tdlabel {
    width: 130px;
}
.newcarReview {
    padding-top: 120px;
}
.checkbox {
    text-align: center;
}
.rating {
    text-align: left;
    font-size: 36px;
    color: #373737;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    color: #eaee0f;
    content: "\2605";
    position: absolute;
}
#saveReviewButton {
    margin: 20px auto;
}

/**********************************\
2. Form: Review After-Sale
