/**********************************\
===================================
1. font
2. navbar
3. banner
4. search
5. slider
6. review
7. about
8. values
9. legal
10. footer
===================================
\**********************************/
a:hover {
    text-decoration: none;
}
/**********************************\
1. font
\**********************************/

/**********************************\
2. navbar
\**********************************/
/*  navbar color */
.navbar {
    background-color: #2d3142 !important;
    border: 1px solid #2d3142;
}

.navbar .navbar-toggle {
    background-color: #bfc0c0;
}

.navbar img {
    height: 130%;
    width: 90%;
}

.navbar ul {
    padding-right: 20px;
}
/* Onglets navbar */
.navbar ul li a {
    font-weight: bold;
    font-size: 18px;
    color: #bfc0c0 !important;
    padding: 13px 10px;
}

.navbar ul li a:hover {
    color: white!important;
}

.navbar .navbar-brand {
    padding: 5px 15px;
}
/**********************************\
3. banner
\**********************************/
/* Default banner */
#banner {
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
}
/* Default image container */
#banner .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.25);
    background: url('../img/garage.jpg') no-repeat center center; /* a changer pour une imge libre de droits */
    background-size: cover;
}

@media  (max-width: 800px){
    #banner .background {
        top: 0;
        background-position: 75% 50%;
    }
}
/* Loaded image container */
.loaded #banner .background {
    transform: scale(1);
    transition: 5s transform;
}
/**********************************\
4. search
\**********************************/
#search {
    margin-top: 5%;
    margin-bottom: 5%;
}

#search .searchbar {
    padding: 5%;
}

@media (max-width:768px) {
    #search .searchbar {
        width: 80%;
        margin-left: 10%;
    }
}

#search button {
    width: 50px;
    height: 35px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 28px;
}

@media all and (min-width: 961px) and (max-width: 1366px) {
    #search button {
        margin-left: -8px;
    }
}

#search input {
    height: 50px;
    font-size: 13px;
    margin: 0;
}
/**********************************\
5. slider
\**********************************/
#slider {
    background: url("/img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 400px;
}

/* carousel */
#slider #quote-carousel {
    padding: 0 10px 30px 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Control buttons  */
#slider #quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#slider #quote-carousel .carousel-control.left {
    left: -12px;
}
/* Next button  */
#slider #quote-carousel .carousel-control.right {
    right: -12px !important;
}

/* End carousel */

#slider .item blockquote {
    border-left: none;
    margin: 0;
}

#slider .item blockquote p:before {
    content: "\f10d";
    float: left;
    margin-right: 10px;
}

#slider #quote-carousel img {
    width: 100px;
    height:100px;
    background-color: lightgrey;
}

/**
  MEDIA QUERIES
*/
@media (min-width: 768px) {
    #slider #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

@media (max-width: 320px) {
    #slider {
        margin-top: 10vh;
        height: 90vh;
    }
    /* Previous button  */
    #slider #quote-carousel .carousel-control.left {
        left: 0;
    }
    /* Next button  */
    #slider #quote-carousel .carousel-control.right {
        right: 0 !important;
    }
}
/**********************************\
6. review
\**********************************/
#review {
    height: 100%;
}

#review h2 {
    margin-top: 10%;
    text-align: center;
    color:  #BFC0C0;
}

#review h2 span {
    color: #2d3142;
    text-shadow: none;
}

#review .btn-block {
    margin-top: 10%;
    width: 300px;
    height: 60px;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    font-size: 18px;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

#review .btn-block:hover{
    color: #fff;
    background-color: #ff4756;
}

#review .btn-block:focus, .btn-block:active {
    outline: none !important;
    border-color: #ff4756 !important;
}

#review .needconnect {
    margin-top: 10%;
    margin-bottom: 20%;
    color: #BFC0C0;
}

#review .needconnect a:link {
    color: #BFC0C0;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 479px) {

    #review h2 {
        color: black;
        text-transform: uppercase;
        font-size: 25px;
    }

    #review .btn-block {
        margin-top: 5%;
        width: 80%;
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 992px) {

    #review .btn-block {
        margin-top: 3%;
    }
}

/**********************************\
7. about
\**********************************/
#about {
    background: url("../img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}

@media (max-width: 768px) {
    #about {
        height: 120%;
    }
}

#about .bloktext {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}

#about .hauteurtitre {
    height: 90px;
}

#about .hauteurtitre img {
    position: absolute;
    top: 5%;
}

#about .hauteurtitre #logoabout {
    right: 5%;
}

#about .hauteurtitre #photofondateur {
    left: 5%;
}

@media (max-width: 1024px) {
    #about .hauteurtitre {
        text-align: center;
        height: 150px;
    }

    #about .hauteurtitre img {
        position: static;
    }
}
/**********************************\
8. values
\**********************************/
#values {
    margin-top: 3%;
    margin-bottom: 3%;
}

#values h2 {
    margin-bottom: 3%;
}

@media (max-width: 320px) {
    #values h2 {
        font-size: 24px;
    }
    #values h3 {
        font-size: 18px;
    }
}

#values img {
    height : 40%;
    width: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/**********************************\
9. legal
\**********************************/
#legalnotices {
    margin-top: 10%;
}
#mentionslegales {
    margin-top: 20px;
    padding: 80px;
    border: 1px solid #7a7a7a;
    -webkit-box-shadow: 0px 0px 7px -3px rgba(89,86,89,1);
    -moz-box-shadow: 0px 0px 7px -3px rgba(89,86,89,1);
    box-shadow: 0px 0px 7px -3px rgba(89,86,89,1);
}
.iconToTop {
    text-align: right;
    margin-bottom: 23px;
}

/**********************************\
10. footer
\**********************************/
/*** General parameters for the footer */
footer {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #2d3142;
}
.footer h3 {
    border-bottom: 1px solid #bfc0c0;
    color: #bfc0c0;
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 16px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: white;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: white;
}
.footer button {
    margin-top: 5%;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #2d3142;
    font-weight: bold;
    color: #ff4756;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

.footer button:hover, button:focus, button:active {
    color: #2d3142;
    background-color: #ff4756;
    border: 3px solid #ff4756 !important;
    outline: none !important;
}

.social li {
    background-color: rgb(45, 49, 66);
    border: 1px solid #5e5e5e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 46px;
    line-height: 46px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 46px;
}
.social li:hover {
    border: 2px solid #6691b4;
    background: rgba(100, 127, 150, 0.98);
}
.social li a i {
    text-align: center;
    font-size: 22px;
}
.footer-bottom {
    text-align: center;
    color: #d4d4d4;
    background: rgba(45, 49, 66, 0.99);
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: -25px;
}
/*** Bottom-to-top button ***/
.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 170px;
    right: 0;
    width: 49px;
    height: 45px;
    z-index: 100;
    text-decoration: none;
    display: none;
    border-radius: 25px;
}
.back-to-top i {
    font-size: 55px;
    position: relative;
    color: #bfc0c0;
    margin-left:1px;
}
@media (max-width: 600px) {
    .back-to-top {
        display: none !important;
    }
}