/**********************************\
===================================
1. font
2. navbar
3. banner
4. search
5. slider
6. review
7. about
8. values
9. footer
===================================
\**********************************/
a {
    text-decoration: none!important;
}

/**********************************\
1. font
\**********************************/

/**********************************\
2. navbar
\**********************************/
/*  navbar color */
.navbar {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar ul {
    padding-right: 20px;
}
/* Onglets navbar */
.navbar ul li a {
    font-weight: bold;
    font-size: 18px;
    color: #adadad !important;
}

.navbar ul li a:hover {
    color: white!important;
}

.navbar .navbar-brand {
    padding: 5px 15px;
}
/**********************************\
3. banner
\**********************************/
/* Default body */
body {
    opacity: 0;
}
/* Loaded body */
body.loaded {
    opacity: 1;
    transition: 2s opacity;
}
/* Default banner */
.banner {
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    margin-bottom: 100px;
}
/* Default image container */
.banner .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.25);
    background: url('../img/garage.jpg') no-repeat center center; /* a changer pour une imge libre de droits */
    background-size: cover;
}

@media  (max-width: 800px){
    .banner .background {
        top: 0;
        background-position: 75% 50%;
    }
}
/* Loaded image container */
.loaded .banner .background {
    transform: scale(1);
    transition: 5s transform;
}
/**********************************\
4. search
\**********************************/
#search {
    margin-bottom: 90px;
}

#SearchBar .searchbar {
    padding: 20px;
}

@media (max-width:768px) {
    #SearchBar .searchbar {
        width: 80%;
        margin-left: 10%;
    }
}

#SearchBar button {
    width: 50px;
    height: 35px;
    border: 1px solid rgba(94, 94, 94, 0.87);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 28px;
}

@media all and (min-width: 961px) and (max-width: 1366px) {
    #SearchBar button {
        margin-left: -8px;
    }
}

#SearchBar input {
    height: 50px;
    font-size: 13px;
    margin: 0;
}
/* Search page */
.searchpage {
    margin-top: 150px;
}

a.list-group-item {
    height:auto;
    min-height:250px;

}
a.list-group-item.active small {
    color:#fff;
}

.stars {
    margin:20px auto 1px;
}

.spacer-10 {
    padding-top: 10px;
}
.spacer-20 {
    padding-top: 20px;
}
.spacer-30 {
    padding-top: 30px;
}

.btn-product {
    width: 100%;
}
/**********************************\
5. slider
\**********************************/
#slider {
    background: url("/img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 400px;
}

/* carousel */
#slider #quote-carousel {
    padding: 0 10px 30px 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Control buttons  */
#slider #quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#slider #quote-carousel .carousel-control.left {
    left: -12px;
}
/* Next button  */
#slider #quote-carousel .carousel-control.right {
    right: -12px !important;
}

/* End carousel */

#slider .item blockquote {
    border-left: none;
    margin: 0;
}

#slider .item blockquote p:before {
    content: "\f10d";
    float: left;
    margin-right: 10px;
}

#slider #quote-carousel img {
    width: 100px;
    height:100px;
    background-color: lightgrey;
}

/**
  MEDIA QUERIES
*/
@media (min-width: 768px) {
    #slider #quote-carousel
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

@media (max-width: 320px) {
    #slider {
        margin-top: 10vh;
        height: 90vh;
    }
    /* Previous button  */
    #slider #quote-carousel .carousel-control.left {
        left: 0;
    }
    /* Next button  */
    #slider #quote-carousel .carousel-control.right {
        right: 0 !important;
    }
}

/**********************************\
6. review
\**********************************/

#review {
    height: 500px;

}
h2
{
    text-align: center;
    margin-top: 20px;
    color:  black;
    text-transform: uppercase;
    font-size: 30px;
}

h2 span
{
    color:red;
}

.btn-block{
    margin-bottom: 150px;
    margin-top: 50px;
    width: 300px;
    height: 60px;
    background-color: #630000;
}
.btn-block:hover{
    background-color: blue;
    filter: brightness(50%);
    transition-duration: 0.5s;
}
.btn-block:visited, .btn-block:focus, .btn-block:active {
    background-color: #630000 !important;
    outline: none !important;
}
@media (min-width: 320px) and (max-width: 479px) {

    h2
    {
        text-align: center;
        margin-top: 20px;
        color:  black;
        text-transform: uppercase;
        font-size: 25px;
    }
    .btn-block {
        font-size: 15px!important;
        width: 220px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;

    }
    .navy2{
        margin-bottom: 100px!important;
    }
}
@media (min-width: 480px) and (max-width: 1023px) {
    #opinion{
        width: 100%;
        height: 100%;
    }
    .btn-block {
        font-size: 15px!important;
        width: 220px;
        height: 55px;
        margin-bottom:20px;
        margin-top: 20px;

    }
    .navy2{
        margin-bottom: 100px!important;
    }
}


    /**********************************\
    7. about
    \**********************************/
#about {
    background: url("../img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}

@media (max-width: 768px) {
    #about {
        height: 120%;
    }
}

#about .bloktext {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#about .hauteurtitre {
    height: 90px;
}

#about .hauteurtitre img {
    position: absolute;
    top: 5%;
}

#about .hauteurtitre #logoabout {
    right: 5%;
}

#about .hauteurtitre #photofondateur {
    left: 5%;
}

@media (max-width: 1024px) {
    #about .hauteurtitre {
        text-align: center;
        height: 150px;
    }

    #about .hauteurtitre img {
        position: static;
    }
}
/**********************************\
8. values
\**********************************/
#values {
    margin-top: 5%;
    margin-bottom: 10%;
}

#values h2 {
    padding-bottom: 5%;
}

@media (max-width: 320px) {
    #values h2 {
        font-size: 24px;
    }
    #values h3 {
        font-size: 18px;
    }
}
#values img {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
/**********************************\
9. footer
\**********************************/
/*** General parameters for the footer */
footer {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 1);
}

footer h3 {
    color: white;
}

.footrow p {
    color: white;
    font-size: 18px;
}
/*** Site Map ***/
.sitemap p {
    padding-left: 40%;
}

.sitemap .plan {
    margin-top: -10px;
}

.sitemap a {
    color: #adadad;
    font-size: 14px;
}

.sitemap a:hover {
    color: #ffffff;
}
/***Socialnetwork part ***/
.newsform {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.socialNetworks .fa {
    color: white;
}
/*** Legal notices ***/
.legal p {
    font-size: 14px;
    color: white;
    margin: auto;
}

.legal a:focus, a:active, a:visited {
    outline: none;
    color: grey;
}

#mentions .modal-body p {
    color: black;
}

.mentions, .wcsxs, .wcsmd, .mentions:visited, .mentions:hover, .wcsxs:visited, .wcsmd:visited, .wcsxs:hover, .wcsmd:hover  {
    color: white;
}

@media (min-width: 320px) and (max-width: 1024px){
    .sitemap {
        margin-top: 30px;
    }
    .sitemap p {
        padding-left: 0;
        text-align: center !important;
    }

    .socialNetworks, .newsLetters {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .mentions {
        text-align: left;
        cursor: pointer;
    }

    .legal {
        text-align: center;
    }

    .wcsmd {
        display: none;
    }
}

@media (min-width: 1025px) {
    .wcsxs {
        display: none;
    }
}

/*** Bottom-to-top button ***/

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 170px;
    right: 0px;
    width: 49px;
    height: 45px;
    z-index: 100;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    border-radius: 25px;
}

.back-to-top i {
    font-size: 55px;
    position: relative;
    color: #0000FF;
    margin-left:1px;

}