.modal-dialog {
    margin-top: 10%;
}

.modal-dialog .modal-body .form-control, .btn-conn {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.modal-dialog .modal-body #login_password {
    margin-top: 5%;
}
@media (max-width: 340px) {
    .modal-dialog .modal-body .form-control {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .modal-dialog {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-dialog .modal-body .form-control {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
.modal-dialog .modal-footer .btn-link {
    color : #BFC0C0;
}
button#login_lost_btn.btn-link:hover, button#lost_login_btn.btn-link:hover, a#login_register_btn.btn-link:hover {
    text-decoration: none;
    border-color: white!important;
    outline: none !important;
    color: gray;

}
button#login_lost_btn.btn-link, button#lost_login_btn.btn-link, a#login_register_btn.btn-link {
    color: black;
    outline: none!important;
}

button#login_lost_btn.btn-link:focus, button#lost_login_btn.btn-link:focus, a#login_register_btn.btn-link:focus,
{
    outline: none !important;
    background-color: white!important;
}


.btn-conn {

    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    font-size: 15px;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

.btn-primary:hover{
    color: #fff!important;
    background-color: #ff4756!important;
    border-color:#ff4756!important;

}
#lost_login_btn.btn-primary:active {
    outline: none !important;
    border-color: #ff4756 !important;
}
@media (min-width:320px) and (max-width:600px) {
    .btn-conn {
        width: 60%!important;

    }
}