
.modal-dialog .modal-body .form-control, .btn-conn {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.modal-dialog .modal-body #login_password {
    margin-top: 5%;
}
@media (max-width: 340px) {
    .modal-dialog .modal-body .form-control {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .modal-dialog {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-dialog .modal-body .form-control, .btn-conn {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
.modal-dialog .modal-footer .btn-link {
    color : #BFC0C0;
}
button#login_lost_btn.btn-link:hover, button#lost_login_btn.btn-link:hover, a#login_register_btn.btn-link:hover {
    text-decoration: none;
    color: gray;

}
button#login_lost_btn.btn-link, button#lost_login_btn.btn-link, a#login_register_btn.btn-link {
    color: black;
    outline: none!important;
}
.checkbox {
    margin: 0 auto;


}