/* Search page */
.searchpage {
    margin-top: 150px;
}

.searchpage .checkbox {
    text-align: left;
}

.searchpage .list-group-item {
    height:auto;
    min-height:250px;
}
.searchpage a.list-group-item.active small {
    color:#fff;
}

.searchpage .btn-block {
    font-size: 14px;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    -o-transition: color .2s ease-out, background 0.2s ease-in;
    -moz-transition: color .2s ease-out, background 0.2s ease-in;
    -webkit-transition: color .2s ease-out, background 0.2s ease-in;
}

.searchpage .btn-block:hover, .searchpage .btn-block:focus {
    color: #fff;
    background-color: #ff4756;
    outline: none;
}

.media-object {
    margin-bottom: 5%;
}

#search .label {
    color: #1590c4;
    background-color: transparent;
}

#search .rating-container .caption {
    margin-top: 0px;
}

@media (max-width: 396px) {
    #search .rating-container .caption {
        margin-top: -60px;
    }
    #search .btn-block {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}

#search .rating-md {
    margin-top: -20px;
}

#search .note img {
    width: 150px!important;
}

@media (max-width: 991px) {
    .searchpage .btn-block {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 750px) {
   #collapse-small {
       display: none;
    }
}

@media (max-width: 750px) {
    #collapse-small2 {
        display: none;
    }
    .searchpage {
        margin-top: 20%;
    }
}

