/*-------------SEARCH BAR---------------*/
body {
    background-color: #3b3b3b;
    /*background-image: url("road.jpg");*/
    background-attachment: fixed;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.searchbar {
    border: 0px solid black;
    padding: 20px;
}
.row {
    display: inline-flex;
    flex-direction: row;
    background-color: rgba(245,245,245,0.6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
}
button {
    width: 60px;
    height: 45px;
    background-color: #ffea5b;
    border: 1px solid #484848;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 20px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}
input {
    width: 450px;
    height: 30px;
    font-family: "TlwgTypewriter";
    font-size: 13px;
    padding: 5px;
}