#userpassword {
    margin-top: 110px;
    margin-bottom: 50px;
}

#userpassword hr {
    border: 1px solid #ff4756;
    margin: 2% 25% 5% 25%;
}

#userpassword button {
    margin-top: 50px;
}

#userpassword form {
    margin-top: 20px;
}

#userpassword .btn-conn {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

#userpassword .btn-conn:hover, .btn-conn:focus {
    color: #fff;
    background-color: #ff4756;
    outline: none;
}

#userpassword a {
    color: #ff4756;
}

#userpassword a:hover {
    color: rgba(249, 69, 85, 0.63);
}