{% block body %}
    <section id="adminnav">
        {% if app.request.get('_route') == 'admin_login' or app.request.get('_route') == 'admin_register'%}
        {% else %}
        <div class="col-xs-2 sideNav">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{{ path('dashboard') }}"><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i><p>Accueil</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog fa-2x" aria-hidden="true"></i><p>Paramètres</p></a>
                </li>
                <li>
                    <a href="{{ path('admin_reviews') }}"><i class="fa fa-comments fa-2x" aria-hidden="true"></i><p>Avis</p></a>
                </li>
                <li>
                    <a href="{{ path('admin_users') }}"><i class="fa fa-users fa-2x" aria-hidden="true"></i><p>Utilisateurs</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i><p>Établissements</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-power-off fa-2x" aria-hidden="true"></i><p>Déconnexion</p></a>
                </li>
            </ul>
        </div>
            {% endif %}
    </section>
{% endblock %}