{% extends ('@Caradvisor/index.html.twig') %}

{% block body %}
    <style>
        .formcontact {margin-top: 200px;}
    </style>
    {{ result }}
    <div class="formcontact">{{ form(form) }}</div>
{% endblock %}