{% extends '@Caradvisor/index.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" style="margin-top: 150px">
        <label for="username"></label>
        <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}" />

        <label for="password"></label>
        <input type="password" id="password" name="_password" placeholder="Nom d'utilisateur" />

        {#<input type="hidden" name="_target_path" value="/" />#}

        <button type="submit">Connexion</button>

    </form>
{% endblock %}