<html>
<head>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p>
        Vous avez demandé une réinitialisaion de votre mot de passe,
        merci de suivre le lien ci-dessous pour effctuer ce changement.
    </p>
    <p>
        Si vous n'avez pas fait de demande de réinitialisation, vous pouvez supprimer cet email.
    </p>

    <p>
        <a href="{{ resetPasswordLink }}">
            Réinitialiser mon mot de passe
        </a>
    </p>
</div>
</body>
</html>