<table style="margin-top:100px;
              width:60%;
              margin-left:auto;
              margin-right:auto;
              background-color:transparent;:rgba(45, 49, 66, 0.1);">
    <thead  style="background-color:rgba(45, 49, 66, 0.9);">
        <tr>
            <th style="padding-left: 10px"><h2 style="color:rgba(45, 49, 66, 0.9);"><strong style="font-size:41px;font-family:'Montserrat',sans-serif;color:#bfc0c0;">Car<span style="color:#ff4756;">Advisor</span></strong></h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h1 style="color:rgba(45, 49, 66, 0.9);font-size:30px;text-align:center;">Bienvenue chez <strong>Car<span>Advisor</span></strong> {{ userName }}!</h1></td>
        </tr>
        <tr>
            <td style="padding: 5% 20%;">
                <p>Merci de cliquer sur ce lien pour valider votre compte :<br>
                    <a href="{{ confirmationLink }}">Confirmation de compte</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 5% 20%;">
                <p  style="color:rgba(45, 49, 66, 0.9);font-weight:700;">Notre concept</p>
                <p  style="color:rgba(45, 49, 66, 0.9);display:inline-block;text-align:center;width:32%;">Confiance</p>
                <p  style="color:rgba(45, 49, 66, 0.9);display:inline-block;text-align:center;width:32%;">Simplicité</p>
                <p  style="color:rgba(45, 49, 66, 0.9);display:inline-block;text-align:center;width:32%;">Fiabilité</p>
                <hr style="border: 1px solid #ff4756;">
                <p style="color:rgba(45, 49, 66, 0.9);">Merci de vous être inscrit sur <strong style="color: rgba(45, 49, 66, 0.9);">Car<span style="color:#ff4756;">Advisor</span></strong>. Vous pouvez maintenant rechercher des professionnels ou déposez des avis et faire du monde de l'automobile un monde meilleur !</p>

                <p style="color:rgba(45, 49, 66, 0.9);">Venez sur le site pour déposer <a href="{{ url }}#review">votre premier avis</a></p>
                <p style="color:rgba(45, 49, 66, 0.9);font-weight: 700;">L'équipe <strong style="color: rgba(45, 49, 66, 0.9);">Car<span style="color:#ff4756;">Advisor</span></strong></p>
            </td>
        </tr>
    </tbody>
    <tfoot style="background-color:rgba(45, 49, 66, 0.9);">
        <tr>
            <td style="color:#bfc0c0;padding:20px;">Suivez-nous sur</td>
        </tr>
    </tfoot>
</table>
