/* ==== ADMIN ==== */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    color: #ff4756;
}
hr {
    border: 1px solid #ff4756;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    overflow: auto;
}

.fa-chevron-left {
    color: #ff4756;
    position: fixed;
    left: 17%;
}

.fa-eye {
    color:#ff4756;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

@media (max-width: 478px) {
    h1 {
        font-size: 24px;
    }
    .fa-chevron-left {
        color: #ff4756;
    }
}

.btn-admin {
    width: 100%;
    margin: 10px auto;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    font-weight: bold;
    -o-transition:color .2s ease-out, background .2s ease-in;
    -moz-transition:color .2s ease-out, background .2s ease-in;
    -webkit-transition:color .2s ease-out, background .2s ease-in;
}
.btn-admin:hover, .btn-admin:focus, .btn-admin:active:focus {
    color: #fff;
    background-color: #ff4756;
    outline: none;
}

/* -- Home -- */
#adminHome .noPadding {
    padding: 0;
}

#adminHome .panel {
    background-color: white; !important;
    color: #2d3142;
    border-color: #5e5e5e;
    text-align: center;
}

#adminHome .panel:hover {
    color: #ff4756;
    transition: 0.5s ease;
}

@media (max-width: 421px) {
    #adminHome i {
        font-size: 50px;
    }
    #adminHome .announcement-text {
        font-size: 12px;
    }
}

/* -- Login -- */
#admin .btn-admin {
    width: 40%;
}

/* -- Reviews -- */
.listRepair .btn-admin {
    width: 40%;
}

.reviewDetail .btn-admin {
    margin: 0;
    padding: 5px;
}

@media (max-width: 400px) {
    .listRepair .btn-admin {
        width: 100%;
    }
}
