#signup .pass_link {
    color: gray;
    margin-top: 1em;
    margin-bottom: -2em;
}

#signup .pass_link a, #signup .pass_link a:visited, #signup .pass_link a:focus {
    color: #ff4756;
}

#signup h4 {
    margin-top: 4.3em;
    margin-bottom: 4.3em;
}
.modal-dialog {
    margin-top: 10%;
}

.modal-header .modalTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    color: #bfc0c0;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 8px;
}

.modal-header .modalTitle span {
    color: #ff4756;
}
.modal-header .close {
    outline: none;
}

.modal-body .form-control {
    width: 60%;
    margin-right: auto;
    margin-left: auto;

}

.modal-footer .btn-conn {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

.modal-footer .btn-conn:hover, .modal-footer .btn-conn:focus {
    color: #fff;
    background-color: #ff4756;
    outline: none;
}

.modal-footer #login_lost_btn:hover, .modal-footer #login_register_btn:hover, .modal-footer #lost_login_btn:hover,
.modal-footer #login_lost_btn:focus, .modal-footer #login_register_btn:focus, .modal-footer #lost_login_btn:focus,
.modal-footer #login_pro_lost_btn:hover, .modal-footer #login_pro_register_btn:hover, .modal-footer #lost_pro_login_btn:hover,
.modal-footer #login_pro_lost_btn:hover, .modal-footer #login_pro_register_btn:hover, .modal-footer #lost_pro_login_btn:focus {
    text-decoration: none !important;
    color: gray;
}

.modal-footer #login_lost_btn, .modal-footer #login_register_btn, .modal-footer #lost_login_btn,
.modal-footer #login_pro_lost_btn, .modal-footer #login_pro_register_btn, .modal-footer #lost_pro_login_btn {
    color: black;
    outline: none!important;
}
@media (max-width: 340px) {
    .modal-body .form-control {
        width: 100%;
    }

    .modal-footer .btn-conn {
        padding: 10px 10px
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .modal-dialog {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body .form-control {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .modal-footer .btn-conn {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}
