#signup .bloc{
    margin-top: 100px;
    margin-bottom: 100px;
}

#signup .bloc hr {
    border-top: 1px solid #ff4756;
}

#signup .bloc .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#signup .bloc .plus-vehicule {
    display: inline-block;
    padding-left: 10px;
    outline: none!important;
}

#signup .bloc .glyphicon-plus:before {
    color: #ff4756;
}

#signup .bloc #inscription {
    width: 10em;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    -o-transition: color .2s ease-out, background 0.2s ease-in;
    -moz-transition: color .2s ease-out, background 0.2s ease-in;
    -webkit-transition: color .2s ease-out, background 0.2s ease-in;
}

#signup .bloc #inscription a {
    color: #ff4756;
}

#signup .bloc #inscription a:hover {
    color: #fff;
}

#signup .bloc #inscription:hover, .bloc #inscription:focus {
    color: #fff;
    background-color: #ff4756;
    outline: none;
}

@media (max-width: 779px){
    #signup .bloc {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
