/**********************************\
===================================
1. font
2. navbar
3. banner
4. search
5. slider
6. review
7. about
8. values
9. legal
10. footer
===================================
\**********************************/
a:hover {
    text-decoration: none;
}
/**********************************\
1. font
\**********************************/
body {
    font-family: 'Roboto', sans-serif;
}
/**********************************\
2. navbar
\**********************************/
/*  navbar color */
.navbar {
    background-color: rgba(45, 49, 66, 0.9) !important;
    border: 1px solid #2d3142;
    letter-spacing: 1px;
}

.navbar .navbar-toggle {
    background-color: #2d3142;
    border: none;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:active, .navbar .navbar-toggle:focus {
    background-color: #2d3142 !important;
    border: none;
}

.navbar .simplelogo1, .simplelogo2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    color: #BFC0C0;
    font-weight: bold;
    letter-spacing: 3px;
}

@media (min-width: 768px) and (max-width: 910px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 350px) {
    .navbar .simplelogo1, .simplelogo2 {
        font-size: 35px;
    }
}

.navbar .simplelogo2 {
    color: #ff4756;
}

.navbar ul {
    padding-right: 20px;
}
/* Onglets navbar */
.navbar ul li a {
    font-weight: bold;
    font-size: 18px;
    color: #bfc0c0 !important;
    padding: 13px 9px;
}

.navbar ul li a:hover {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    border-bottom: 2px solid #ff4756;
    padding: 13px 0 7px 0;
    margin: 0 9px;
}

nav li a:focus{
    outline: none;
}

.navbar .navbar-brand {
    padding: 15px 15px;
}

/**********************************\
3. banner
\**********************************/
/* Default banner */
#banner {
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
}
/* Default image container */
#banner .background .calque {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

#banner .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.25);
    background: url('../img/stock-photo-car.jpg') no-repeat center center;
    background-size: cover;
}

.banner p {
    margin-top: 20%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
@media (max-width: 500px) {
    #banner {
        display: none;
    }
}

@media  (max-width: 800px){
    #banner .background {
        top: 0;
        background-position: 0 50%;
    }
}
/* Loaded image container */
.loaded #banner .background {
    transform: scale(1);
    transition: 5s transform;
}
/**********************************\
4. search
\**********************************/
#searchEngine {
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 500px) {
    #searchEngine {
        margin-top: 15%;
    }
}

#searchEngine h2 {
    margin-bottom: 5%;
    color: #2d3142;
}

#searchEngine hr {
    margin: 5% 35%;
    border-top: 1px solid #ff4756;
}

#searchEngine .searchbar {
    margin-top: 10px;
}

#searchEngine button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
}

#searchEngine input {
    height: 50px;
    font-size: 18px;
}

#searchEngine .btn-search {
    margin-top: 15px;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    font-weight: bold;
    color: #ff4756;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

#searchEngine .btn-search:hover, #searchEngine .btn-search:active, #searchEngine .btn-search:focus {
    color: #fff;
    background-color: #ff4756;
    border: 3px solid #ff4756 !important;
    outline: none !important;
}

@media (max-width:768px) {
    #searchEngine .searchbar {
        width: 80%;
        margin-left: 10%;
    }
}
/**********************************\
5. slider
\**********************************/
#slider {
    background: url("../img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 100%;
    padding-bottom: 7%;
}

/* carousel */
#slider #quote-carousel {
    padding: 30px 10px 30px 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 100%;
}

/* Control buttons  */
#slider #quote-carousel .carousel-control {
    background: none;
    color: #222;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#slider #quote-carousel .carousel-control.left {
    left: -12px;
    padding-top: 30px;
}
/* Next button  */
#slider #quote-carousel .carousel-control.right {
    right: -12px !important;
    padding-top: 30px;
}

/* End carousel */
#slider .item {
    border-left: none;
    margin: 0;
}
#slider .item .review-pro {
    font-weight: bold;
}

#slider .item .review {
    float: left;
    margin-right: 10px;
    font-size: 20px!important;
}

#slider .item .review-author {
    font-size: 16px;
}

#slider #quote-carousel img {
    width: 100px;
    height:100px;
    background-color: lightgrey;
}

#slider #quote-carousel small {
    float: right;
    padding-right: 10%;
}
/**
  MEDIA QUERIES
*/
@media (min-width: 768px) {
    #slider #quote-carousel {
        margin-bottom: 0;
        padding: 30px 40px 30px 40px;
    }
}

@media (max-width: 480px) {

    /* Previous button  */
    #slider #quote-carousel .carousel-control.left {
        left: 0;
    }
    /* Next button  */
    #slider #quote-carousel .carousel-control.right {
        right: 0 !important;
    }
}


@media (min-width: 768px) {
    #slider .fa-chevron-left, #slider .fa-chevron-right {
        padding-top: 35%;
    }

    #slider .img-circle {
        margin-top: 20%;
    }
}
/**********************************\
6. review
\**********************************/
#review {
    height: 100%;
}

#review h2 {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    color: #aaabab;
}

#review h2 span {
    color: #2d3142;
    text-shadow: none;
}

#review hr {
    border-top: 1px solid #ff4756;
    margin: 4% 35%;
}

#review .btn-block {
    margin-top: 10%;
    margin-bottom: 20%;
    width: 300px;
    height: 60px;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #fff;
    color: #ff4756;
    font-size: 18px;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

#review .btn-block:hover{
    color: #fff;
    background-color: #ff4756;
}

#review .btn-block:focus, .btn-block:active {
    outline: none !important;
    border-color: #ff4756 !important;
}

@media (min-width: 320px) and (max-width: 479px) {

    #review h2 {
        color: #aaabab;
        text-transform: uppercase;
        font-size: 25px;
    }

    #review .btn-block {
        margin-top: 5%;
        margin-bottom: 10%;
        width: 80%;
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 992px) {

    #review .btn-block {
        margin-top: 3%;
        margin-bottom: 6%;
    }
}

/**********************************\
7. about
\**********************************/
#about {
    background: url("../img/backg/about.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}

#about p {
    font-size: 16px;
}

@media (max-width: 768px) {
    #about {
        height: 120%;
    }
}

#about .bloktext {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}
#about .blind {
    color: transparent;
}

#about .hauteurtitre {
    height: 90px;
}

#about .hauteurtitre img {
    position: absolute;
    top: 5%;
}

#about .hauteurtitre #photofondateur {
    height: 32%;
    width: 15%;
    left: 5%;
}

@media (max-width: 1024px) {
    #about .hauteurtitre {
        text-align: center;
        height: 150px;
    }

    #about .hauteurtitre img {
        position: static;
    }
}
/**********************************\
8. values
\**********************************/
#values {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}

#values h2 {
    margin-bottom: 3%;
    color: #2d3142;
    text-align: center;
}

#values hr {
    border-top: 1px solid #ff4756;
    margin-left: 35%;
    margin-right: 35%;
}

@media (max-width: 480px) {
    #values h2 {
        font-size: 24px;
    }
    #values h3 {
        font-size: 19px;
    }
    #values h4 {
        font-size: 13px;
    }
    #values img {
        width: 50%;
    }

    #values .reliability {
        margin-top: 3%;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    #values h4 {
        font-size: 15px;
    }
}

#values img {
    height : 40%;
    width: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/**********************************\
9. legal
\**********************************/
#legalnotices {
    margin-top: 10%;
}
#mentionslegales {
    margin-top: 20px;
    padding: 80px;
    border: 1px solid #7a7a7a;
    -webkit-box-shadow: 0 0 7px -3px rgba(89,86,89,1);
    -moz-box-shadow: 0 0 7px -3px rgba(89,86,89,1);
    box-shadow: 0 0 7px -3px rgba(89,86,89,1);
}
.iconToTop {
    text-align: right;
    margin-bottom: 23px;
}

/**********************************\
10. footer
\**********************************/
/*** General parameters for the footer */
.footer {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #2d3142;
    font-family: 'Roboto', sans-serif;
}
.footer h3 {
    border-bottom: 1px solid #ff4756;
    color: #bfc0c0;
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 16px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: white;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer .map a, .footer .infos a, .footer .social a {
    color: white;
}

.footer .map a:hover, .footer .infos a:hover {
    color: #BFC0C0;
}

.footer button {
    margin-top: 5%;
    border-radius: 4px;
    border: 3px solid #ff4756;
    background-color: #2d3142;
    font-weight: bold;
    color: #ff4756;
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
}

.footer .btn-info:hover, .footer .btn-info:focus, .footer .btn-info:active {
    color: #2d3142;
    background-color: #ff4756;
    border: 3px solid #ff4756;
    outline: none;
}

.social li {
    background-color: rgb(45, 49, 66);
    border: 1px solid #5e5e5e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 46px;
    line-height: 46px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 46px;
}
.social li:hover {
    border: 2px solid #ff4756;
    background: rgba(255, 71, 86, 0.73);
}
.social li a i {
    text-align: center;
    font-size: 22px;
}

.footer-bottom a {
    text-align: center;
    color: #d4d4d4;
    background: rgba(45, 49, 66, 0.99);
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: -25px;
}

.footer-bottom a:hover, .footer-bottom a:focus {
    color: gray;
    text-decoration: none;
    outline: none;
}

@media (max-width: 750px) {
    .footer input {
        width: 80%;
    }
}

/*** Bottom-to-top button ***/
.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 170px;
    right: 0;
    width: 49px;
    height: 45px;
    z-index: 100;
    text-decoration: none;
    display: none;
    border-radius: 25px;
}
.back-to-top i {
    font-size: 55px;
    position: relative;
    color: #bfc0c0;
    margin-left:1px;
}
@media (max-width: 600px) {
    .back-to-top {
        display: none !important;
    }
}