{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
<section class="pro">
    <h1>Welcome</h1>
    <h1>Welcome</h1>
    <h1>Welcome</h1>
    {% for review in data  %}
        {{ review.city }}
    {% endfor %}
</section>
{% endblock %}
