<div class="container mail">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 bloc">
            <div class="col-xs-12 head">
                <strong>Car<span>Advisor</span></strong>
            </div>
            <div class="text-center">
                <h1 class="text-center">Bienvenue chez <strong>Car<span>Advisor</span></strong> {{ userName }}!</h1>
            </div>
            <p>Merci de vous être inscrit sur caradvisor.com. Vous pouvez maintenant rechercher des professionnels ou déposez des avis et faire du monde de l'automobile un monde meilleur !<br>
            </p>

            <p>Venez sur le site pour déposer <a href="{{ url }}#review">votre premier avis</a></p>
            <p class="team">L'équipe CarAdvisor</p>
        </div>
    </div>
</div>
